/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: 'museo-100';
        src: url('/fonts/museosansrounded-100-webfont.woff2') format('woff2'),
            url('/fonts/museosansrounded-100-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }




    @font-face {
        font-family: 'museo-300';
        src: url('/fonts/museosansrounded-300-webfont.woff2') format('woff2'),
            url('/fonts/museosansrounded-300-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }




    @font-face {
        font-family: 'museo-500';
        src: url('/fonts/museosansrounded-500-webfont.woff2') format('woff2'),
            url('/fonts/museosansrounded-500-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }




    @font-face {
        font-family: 'museo-700';
        src: url('/fonts/museosansrounded-700-webfont.woff2') format('woff2'),
            url('/fonts/museosansrounded-700-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }




    @font-face {
        font-family: 'museo-900';
        src: url('/fonts/museosansrounded-900-webfont.woff2') format('woff2'),
            url('/fonts/museosansrounded-900-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    body{
        font-family: 'museo-300';
    }
}

.header-bg{
    background-image: linear-gradient(180deg,#0b85bb,#5cb5db);
    background-size: auto 100%;
    background-position: 50%;
    height: 277px;
}

.avatar{
    left: calc(50% - 50px);
    top: -140px;
}

.go-premium{
    top: -30px;
    left: 130px;
}

.see-stats{
    top: -30px;
    left: 20px;
}

.timmer{
    right: 15px;
    top: -30px;
}


@media screen and (min-width:650px) {
    .header-bg{
        height:170px
    }
    
    .avatar{
        left: -10px;
        top: -80px;
    }
}
@media screen and (min-width:800px) {
    .header-bg{
        height:149px
    }

    .avatar{
        left: -10px;
        top: -60px;
    }

    .see-stats{
        top: -30px;
        right: 100px;
    }
}



